{
  "extends": "standard",
  "rules": {
    "camelcase": "off",
    "max-len": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "semi": [2, "always"]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}